.about-page{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 81vh;
    padding: 20px 90px;
    grid-gap: 2rem;
    background-color:white;

}

.about-me{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 70%;

}

.about-para{
    margin-top: 30px;
    text-align: center;
    word-spacing: 8px;
    width: 700px;
    font-size: large;
    /* height: 600px; */
}
.about-image img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    margin-top: 25px;
}