.Contact-container{
    height: 100vh;
    background-color:whitesmoke;
    width: 100vw;
    text-align: center;
    padding-top: 100px;
}
.contact_icon{
    padding-top: 10px ;
    padding-right: 7px;
}
.contact_div{
    height: 50px;
    width: 30vw;
    background-color: rgb(199, 198, 198);
    margin-left: 450px;
    margin-bottom: 20px;
    padding-top:10px ;

}
.contact-me{
    display: grid;
    /* flex-direction: column; */
    /* padding: 100px; */
    margin: 30px;
    margin-left: 200px;
    
}
.input-box1{
    margin: 20px;
    height: 100px;
    width: 500px;
    font-size: x-large;
    /* padding-bottom: 100px; */

}

.input-box2{
    /* margin: 20px; */
    height: 120px;
    width: 500px;
    font-size: x-large;

}

