.footer{
    display: flex;
    justify-content: space-between;
}
.footer_container{
    width: 100vw;
}

.contact-icons{
    margin-right:50px;
}

.contact-icon{
    margin-right:20px ;
}

.footer-content{
    margin-left: 40%;
    margin-top: 10px;
}