.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    padding: 20px;
    background-color:whitesmoke;
    
}
.project-pic{
    height: 300px;
    width: 400px;
}

.project-head{
    text-align: center;
}

.project-content{
    display:flex;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
    margin-left: 340px;
    margin-bottom: 50px;
    align-items: center;
}

.project-card{
    /* height: 20px; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
    text-align: start;
    width: 77%;
    margin-left: 110px;

}
/* .project-card p{
    width: 40vw;
} */